<section class="content">
    <section class="container">
        <section data-ng-view id="contact_container">
            {{^submitted}}
            <form action="" id="contact">
                <span style="display:inline-block;">
                    <input type="text" name="name" placeholder="Name" autofocus required><br/>
                    <input type="email" name="email" placeholder="Email" required><br/>
                    <input type="tel" name="phone" placeholder="Phone">
                </span>
                <span style="display:inline-block;">
                    <textarea name="message" placeholder="Message" rows="4" cols="50" required wrap="soft"></textarea>
                </span>
                <input type="submit">
            </form>
            {{/submitted}}
            {{#submitted}}
            Thanks!
            {{/submitted}}
        </section>
    </section>
</section>
