<div class="row">
    <div class="col-md-10 col-md-offset-1 col-md-12">
        <div class="panel colourable"> 
            <div class="panel-heading">
               <i class="fa fa-pencil-square"></i> <span class="panel-title"><strong>Froot</strong>Check</span>
            </div>
            <div class="panel-body">
                <form name="" method="post" id="" class="quick-check">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="www.yoursite.com">
                        <span class="input-group-btn">
                            <button class="btn input-lg" type="button">Check</button>
                        </span>
                    </div>
                    
                    <p class="text-right">
                        <label class="radio-inline">
                            <input type="radio" name="checktype" value="quick" class="px" checked="checked">
                            <span class="lbl">Quick</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="checktype" value="advanced" class="px">
                            <span class="lbl">Advanced</span>
                        </label>
                    </p>
                </form>
            </div>
        </div>
        <h3>Lasts <strong>Froot</strong>Checks</h3>
        <div class="panel colourable"> 
            <table class="table">
						<thead>
							<tr>
								<th  class="text-center"><small>Programmed</small></th>
                                <th class="text-center"><small>Historical</small></th>
                               
								<th>URL</th>
								<th>Created</th>
                                
                                <th class="text-center">Pages</th>
								<th>Last time</th>
                                
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>	
                                  <td class="text-center"><i class="fa  fa-times"></i></td>
                                <td class="text-center"><i class="fa  fa-times"></i></td> 
								<td><a href="#">www.mydomain.com</a></td>
								<td>2 days ago</td>
                                                             
								<td class="text-center">6</td>
                                <td>02:36 mins</td>
                                <td class="text-center"><span class="label label-success ticket-label">Completed</span></td>
                                <td class="text-center">
                                    <small>
                                        <a href="#"><i class="fa fa-pencil"></i> View</a> |
                                        <a href="#"><i class="fa fa-clock-o"></i></a> |                                   
                                        <a href="#" class="status-error"><i class="fa fa-trash-o"></i></a>
                                    </small>
                                </td>
							</tr>
                            <tr>	
                                  <td class="text-center"><i class="fa  fa-times"></i></td>
                                <td class="text-center"><i class="fa  fa-times"></i></td> 
								<td><a href="#">www.mydomain.com</a></td>
								<td>2 days ago</td>
                                                             
								<td class="text-center">6</td>
                                <td>02:36 mins</td>
                                <td class="text-center"><span class="label label-success ticket-label">Completed</span></td>
                                <td class="text-center">
                                    <small>
                                        <a href="#"><i class="fa fa-pencil"></i> View</a> |
                                        <a href="#"><i class="fa fa-clock-o"></i></a> |                                   
                                        <a href="#" class="status-error"><i class="fa fa-trash-o"></i></a>
                                    </small>
                                </td>
							</tr>
                            <tr>	
                                  <td class="text-center"><i class="fa  fa-times"></i></td>
                                <td class="text-center"><i class="fa  fa-times"></i></td> 
								<td><a href="#">www.mydomain.com</a></td>
								<td>2 days ago</td>
                                                             
								<td class="text-center">6</td>
                                <td>02:36 mins</td>
                                <td class="text-center"><span class="label label-success ticket-label">Completed</span></td>
                                <td class="text-center">
                                    <small>
                                        <a href="#"><i class="fa fa-pencil"></i> View</a> |
                                        <a href="#"><i class="fa fa-clock-o"></i></a> |                                   
                                        <a href="#" class="status-error"><i class="fa fa-trash-o"></i></a>
                                    </small>
                                </td>
							</tr>
							
							
						</tbody>
					</table>
        </div>
        
        <h3><strong>Plans</strong> <small>associated with this account</small></h3>
        <div class="panel colourable"> 
            <table class="table">
						<thead>
							<tr>
								
								<th>Name</th>
								<th class="text-center">Max Pages</th>
								<th class="text-center">Max Tests</th>
                                <th class="text-center">Max Daily x/domain</th>
                                <th class="text-center">Programed Checks</th>
                                <th class="text-center">Hooked Checks</th>                                
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Basic</td>
								<td class="text-center">10</td>
								<td class="text-center">6</td>
								<td class="text-center">3</td>
                                <td class="text-center"><i class="fa fa-check"></i> 1</td>
                                <td class="text-center"><i class="fa fa-check"></i> 1</td>
							</tr>							
						</tbody>
					</table>
        </div>
        
    </div>
    
</div>