<div class="foldbox">
  <div class="main-title">
    <h1><img src="/images/logo.png" height="45px" style="margin-bottom:8px"/>
      <small>Keeps Your Site Healthy</small></h1>
      <p>Automated website checks <br />to help you save time & money.</p>
    </div>

    <div class="watch-demo">
      <a href="javascript:;"></a>
    </div>

    <div id="main-check">      
        
        <div class="result result-page" style="display:none;">  
            <h3>Home Froots</h3>
            <div class="row">
                
             </div>
        </div>
        
        <div class="result result-site" style="display:none;">
            <h3>Website Froots</h3>
            <div class="row">
                
            </div>
        </div>
      <div class="row">
        <form name="" method="post" id="create-test" class="da-check col-md-6 col-md-offset-3" style="display:none;">
          <h3>The checkup process is starting for your domain.</h3>
          <label>Enter your URL for a free health check</label>
          <div class="thefields">
            <input type="text" class="form-control input-lg" placeholder="www.yoursite.com" value="frootbox.com">
            <span class="input-group-btn">
              <input class="btn btn-primary  input-lg" type="submit" value="Check" />
            </span>
          </div>
          <div class="log">
              <ul></ul>
          </div>
          <p class="text-right"><small>Already an user <a href="/dev/login">Login</a></small></p>
        </form>
          
      </div>
    </div>
  </div>
  <div class="the-home-description">
    <div class="row">
      <div class="col-md-3 item">
        <h3 class="text-center">Features</h3>
        <p>
          Froot gives all you need to know about your site's health, including
          performance, multi-platform previews, static analysis and usability quick wins.
        </p>
        <p>
          Froot combines the power of both already existing and propietary tools, within
          a unified, consistent experiece. These are some of the features included in Froot's analysis:
          <ul>
          <li>Multiplatform screenshots</li>
          <li>Loading speed</li>
          <li>Code errors</li>
          <li>SEO quick wins</li>
          <li>and more!</li>
          </ul>
        </p>
      </div>
      <div class="col-md-3 item">
        <h3 class="text-center">Products and pricing</h3>
      </div>
      <div class="col-md-3 item">
        <h3 class="text-center">Save money</h3>
      </div>
      <div class="col-md-3 item">
        <h3 class="text-center">Integration</h3>
      </div>

    </div>
  </div>
<script type="text/template" id="minion-box-template">
  <div class="minionbox loading minion-result minion-result-<%= slug %>" id="minion-<%= slug %>-<%= ids.pageid %>-<%= ids.siteid %>">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><%= name %></span>
            <div class="panel-heading-controls">
                <select name="size">
                <% _.each(availableSizes,function(lesize){ %> <option value="<%= lesize %>" <% if(lesize == size ){ %>selected="selected"<% } %>><%= lesize %></option> <% }); %>
                </select>                
            </div>        
        </div>
        <div class="progress"><div class="progress-bar" style="width: 0%;"></div></div>
        <div class="panel-content" style="">   
        1
        </div>
    </div>
  </div>
</script>
