	<h1 class="form-header">Log in to your Account</h1>
	<!-- Form -->
	<form action="/dev/login" id="signin-form_id" class="panel" method="post">
		<div class="form-group">
			<input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email">
		</div> <!-- / Email -->

		<div class="form-group signin-password">
			<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
			<a href="#" class="forgot">Forgot?</a>
		</div> <!-- / Password -->

		<div class="form-actions">
			<input type="submit" value="Log In" class="btn btn-primary btn-block btn-lg">
		</div> <!-- / .form-actions -->
	</form>
	<!-- / Form -->
	<div class="signin-with">
		<div class="header">or log in with</div>
		<a href="/dev/auth/facebook" class="btn btn-lg btn-facebook rounded"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
		<a href="/dev/auth/github" class="btn btn-lg rounded"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
		<a href="/dev/auth/google" class="btn btn-lg btn-danger rounded"><i class="fa fa-google-plus"></i></a>
	</div>

    
