<div class="row">
    <div class="col-md-12">
        
        
{{#minion}}
<div class="col-md-4"><textarea name="resultHtml" id="resultHtml" class="form-control" rows="3">{{resultHtml}}</textarea></div>
<div class="col-md-4"><textarea name="resultJS" id="resultJS" class="form-control" rows="3">{{resultJS}}</textarea></div>
<div class="col-md-4"><textarea name="resultCSS" id="resultCSS" class="form-control" rows="3">{{resultCSS}}</textarea></div>
<div class="col-md-4"><textarea name="pageresponse" id="pageresponse" class="form-control" rows="3">{{examplePageResponse}}</textarea></div>
{/minion}}
        
        
    </div>
</div>
<link rel="stylesheet" href="/js/vendor/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/js/vendor/codemirror/theme/monokai.css">
<script src="/js/vendor/codemirror/lib/codemirror.js"></script>
<script src="/js/vendor/codemirror/mode/htmlembedded/htmlembedded.js"></script>
<script src="/js/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="/js/vendor/codemirror/mode/css/css.js"></script>
<style type="text/css">
    .CodeMirror { height:160px; }
</style>
<script type="text/javascript">            
   var editor = CodeMirror.fromTextArea(document.getElementById("resultHtml"), {       
    lineNumbers: true,
    mode: "htmlembedded",
    theme:"monokai"
   });
     var editor = CodeMirror.fromTextArea(document.getElementById("resultCSS"), {       
    lineNumbers: true,
    mode: "css",
    theme:"monokai"
   });
    var editor = CodeMirror.fromTextArea(document.getElementById("resultJS"), {       
    lineNumbers: true,
    mode: "javascript",
    theme:"monokai"
   });
    
     var editor = CodeMirror.fromTextArea(document.getElementById("config"), {       
    lineNumbers: true,
    mode: "javascript",
    theme:"monokai"
   });
    var editor = CodeMirror.fromTextArea(document.getElementById("pageresponse"), {       
    lineNumbers: true,
    mode: "javascript",
    theme:"monokai"
   });
     var editor = CodeMirror.fromTextArea(document.getElementById("siteresponse"), {       
    lineNumbers: true,
    mode: "javascript",
    theme:"monokai"
   });
    
</script>