{{#minion}}
<div class="row">
    <div class="col-md-12">
        <div class="testarea">
            <div class="row"></div>
        </div>                
        <div class="panel actionpanel">                        
            <div class="panel-body "> 
                <form name="" class="pull-left">
                    <fieldset>
                        <legend>Select result source type</legend>
                        <label>Page</label>
                        <input type="radio" name="type" class="type" value="page" checked="checked"/>
                        <label>Site</label>
                        <input type="radio" name="type" class="type" value="site" />
                        <input type="button" name="test" id="test" class="btn" value="TEST"/>
                    </fieldset>
                
                </form>                                
                <input type="button" name="update" id="update" class="pull-right btn btn-lg btn-primary" value="SAVE"/>                
                
            </div>
            <div class="progress"><div class="progress-bar" style="width: 100%;"></div></div>
        </div>        
        <div class="col-xs-4"><h3>HTML</h3><textarea name="resultHtml" id="resultHtml" class="form-control" rows="3">{{resultHtml}}</textarea></div>
        <div class="col-xs-4"><h3>Javascript</h3><textarea name="resultJS" id="resultJS" class="form-control" rows="3">{{resultJS}}</textarea></div>
        <div class="col-xs-4"><h3>CSS</h3><textarea name="resultCSS" id="resultCSS" class="form-control" rows="3">{{resultCSS}}</textarea></div>
        <div class="col-xs-4"><h3>Response Page</h3><textarea name="pageresponse" id="pageresponse" class="form-control" rows="3">{{examplePageResponse}}</textarea></div>
        <div class="col-xs-4"><h3>Response Site</h3><textarea name="siteresponse" id="siteresponse" class="form-control" rows="3">{{exampleSiteResponse}}</textarea></div>
        <input type="hidden" name="name" id="name" value="{{name}}" />
        <input type="hidden" name="slug" id="slug" value="{{slug}}" />
        <input type="hidden" name="minionid" id="minionid" value="{{_id}}" />
    </div>
</div>
<script type="text/template" id="box_template">
  <div class="minionbox loading minion-result minion-result-<%= slug %>" id="minion-<%= slug %>-<%= ids.pageid %>-<%= ids.siteid %>">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><%= name %></span>
            <div class="panel-heading-controls">
                <select name="size">
                <% _.each(availableSizes,function(lesize){ %> <option value="<%= lesize %>" <% if(lesize == size ){ %>selected="selected"<% } %>><%= lesize %></option> <% }); %>
                </select>                
            </div>        
        </div>
        <div class="progress"><div class="progress-bar" style="width: 0%;"></div></div>
        <div class="panel-content" style="display:none;">        
        </div>
    </div>
  </div>
</script>


{{/minion}}