<div class="row">
    <div class="col-md-10 col-md-offset-1 col-md-12">


    <h3>All <strong>Minions</strong> <a href="/dev/leminions/new" class="btn btn-primary pull-right "><i class="fa fa-plus-circle"></i> Create new minion</a></h3>
    <div class="panel colourable"> 
        <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Actions</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>URL</th>
                            <!--<th>Created</th>
                            <th>Modified</th>   -->                                                     
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#minions}}
                        <tr>	
                            <td class="text-center">                                
                                <a href="/dev/leminions/{{_id}}/edit"><i class="fa fa-pencil"></i> Edit</a>                                
                                <a href="/dev/leminions/{{_id}}/test"><i class="fa fa-pencil"></i> Test</a>                                
                            </td>
                            <td><big>{{name}}</big></td>                            
                            <td><small>{{url}}</small></td>
                            <!--<td>{{created}}</td>
                            <td>{{lastModified}}</td>                            -->
                            
                        </tr>
                        {{/minions}}
                    </tbody>
                </table>
    </div>
  </div>
</div>