<div class="row">
    <div class="col-md-12">
        <h1 class="form-header">Create a new minion</h1>

        <div class="panel colourable">
            <div class="panel-body">
                <form role="form" method="post">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Minion name">
                  </div>
                      <div class="form-group">
                    <label for="name">Slug</label>
                    <input type="text" class="form-control" name="slug" id="slug" placeholder="Minion slug (will be used for all kind of programming purposes)">
                  </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control input-lg" name="url" id="url" placeholder="http://www.frootbox.com:6969/minions/page/new">
                  </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="isPageMinion" id="isPageMinion"  value="1" />
                    This minion can be called as a Page Minion
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="isSiteMinion" id="isSiteMinion"  value="1" />
                    This minion can be called as a Site Minion
                  </label>
                </div>

                <div class="form-group">
                 <label for="size">Default grid size</label>
                  <select class="form-control" name="size" id="size">
                    <option value="1x1">1x1</option>
                    <option value="2x1">2x1</option>
                    <option value="3x1">3x1</option>
                    <option value="4x1">4x1</option>

                    <option value="1x2">1x2</option>
                    <option value="2x2" selected="selected">2x2</option>
                    <option value="3x2">3x2</option>
                    <option value="4x2">4x2</option>

                    <option value="1x3">1x3</option>
                    <option value="2x3">2x3</option>
                    <option value="3x3">3x3</option>
                    <option value="4x3">4x3</option>
                  </select>
                </div>
                    <div class="row">
                <div class="form-group">
                    <div class="col-md-12"><label for="sizes">Available grid sizes</label></div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="1x1" > <span>1x1</span>  </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="2x1" > <span>2x1</span>  </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="3x1" > <span>3x1</span>  </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="4x1" > <span>4x1</span>         </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="1x2" > <span>1x2</span>  </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="2x2" > <span>2x2</span>  </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="3x2" > <span>3x2</span>  </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="1x3" > <span>1x3</span>  </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="2x3" > <span>2x3</span>  </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="3x3" > <span>3x3</span>  </div>
                    <div class="col-md-1"><input type="checkbox" name="sizes[]" value="4x3" > <span>4x3</span> </div>

                </div>
                        </div>
                <div class="form-group">
                    <label for="name">Result HTML</label>
<textarea name="resultHtml" id="resultHtml" class="form-control" rows="3">
<div class="row">
    <div class="col-md-12 small-single-view">
        <input type="text" class="dial" data-width="{{number}}" data-readOnly=true />
    </div>
</div>
</textarea>
                </div>
                <div class="form-group">
                    <label for="name">Result CSS</label>
<textarea name="resultCSS" id="resultCSS" class="form-control" rows="6">
.small-single-view{ display:block; }
</textarea>
                </div>
                <div class="form-group">
                    <label for="name">Result JS</label>
<textarea name="resultJS" id="resultJS" class="form-control" rows="6">
 return {
   init:function(data){
   },
   render:function(){
   },
   update:function(){
   },
   resize:function(){
   },
   remove:function(){
   }
 };
</textarea>
                </div>
                <div class="form-group">
                    <label for="name">Scripts Dependencies -- <small>One per line</small></label>
                    <textarea name="scripts" id="scripts" class="form-control" rows="6">/theme/assets/javascripts/pixel-admin.min.js</textarea>
                </div>
                    <div class="form-group">
                    <label for="name">CSS Dependencies -- <small>One per line</small></label>
                    <textarea name="css" id="css" class="form-control" rows="6">/theme/assets/sylesheets/pixel-admin.min.css</textarea>
                </div>
                <div class="form-group">
                    <label for="name">Default config -- <small>In JSON</small></label>
                    <textarea name="config" id="config" class="form-control" rows="6">{ "option1":"value","option2":["val1","val2","val3"] }</textarea>
                </div>

                <div class="form-group">
                    <label for="name">Example page minion response -- <small>In JSON</small></label>
<textarea name="pageresponse" id="pageresponse" class="form-control" rows="6">{
    "args":{ "url":"http://","html":"","headers":[],"checkid":"abc","pageid":"def"  },
    "minion":{name:"minion name","version":"0.0.1"},
    "type":"page",
    "data":{ "number": 99 }
}</textarea>
                </div>

                <div class="form-group">
                    <label for="name">Example Site minion response -- <small>In JSON</small></label>
                    <textarea name="siteresponse" id="siteresponse" class="form-control" rows="6">{
    "args":{ "url":"http://","html":"","headers":[],"checkid":"abc","pageid":"def"  },
    "minion":{name:"minion name","version":"0.0.1"},
    "type":"site",
    "data":[{"pageid":"def", "number": 99 },{"pageid":"def", "number": 76 },{"pageid":"def", "number": 44 }]
}</textarea>
                </div>

                  <button type="submit" class="btn btn-default btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/js/vendor/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/js/vendor/codemirror/theme/monokai.css">

<script src="/js/vendor/codemirror/lib/codemirror.js"></script>
<script src="/js/vendor/codemirror/mode/htmlembedded/htmlembedded.js"></script>
<script src="/js/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="/js/vendor/codemirror/mode/css/css.js"></script>
<style type="text/css">
    .CodeMirror { height:160px; }
</style>
<script type="text/javascript">
   var editor = CodeMirror.fromTextArea(document.getElementById("resultHtml"), {
    lineNumbers: true,
    mode: "htmlembedded",
    theme:"monokai"
   });
     var editor = CodeMirror.fromTextArea(document.getElementById("resultCSS"), {
    lineNumbers: true,
    mode: "css",
    theme:"monokai"
   });
    var editor = CodeMirror.fromTextArea(document.getElementById("resultJS"), {
    lineNumbers: true,
    mode: "javascript",
    theme:"monokai"
   });

     var editor = CodeMirror.fromTextArea(document.getElementById("config"), {
    lineNumbers: true,
    mode: "javascript",
    theme:"monokai"
   });
    var editor = CodeMirror.fromTextArea(document.getElementById("pageresponse"), {
    lineNumbers: true,
    mode: "javascript",
    theme:"monokai"
   });
     var editor = CodeMirror.fromTextArea(document.getElementById("siteresponse"), {
    lineNumbers: true,
    mode: "javascript",
    theme:"monokai"
   });

</script>
