    <h1 class="form-header">Create your Account</h1>


	<!-- Form -->
	<form action="" id="signup-form_id" class="panel" method="post">		

		<div class="form-group">
			<input type="text" name="signup_email" id="email" class="form-control input-lg" placeholder="E-mail">
		</div>
        
        <div class="form-group">
			<input type="text" name="signup_email2" id="email2" class="form-control input-lg" placeholder="Repeat E-mail">
		</div>

		<div class="form-group">
			<input type="password" name="signup_password" id="password" class="form-control input-lg" placeholder="Password">
		</div>
        
        <div class="form-group">
			<input type="password" name="signup_password2" id="password2" class="form-control input-lg" placeholder="Repeat Password">
		</div>

		<!--div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
			<label class="checkbox-inline">
				<input type="checkbox" name="signup_confirm" class="px" id="confirm_id">
				<span class="lbl">I agree with the <a href="#" target="_blank">Terms and Conditions</a></span>
			</label>
		</div-->

		<div class="form-actions">
			<input type="submit" value="Create an account" class="btn btn-primary btn-lg btn-block">
		</div>
	</form>
	<!-- / Form -->
    <div class="signup-with">
		<div class="header">or Sign Up with</div>
		<a href="/dev/auth/facebook" class="btn btn-lg btn-facebook rounded"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
		<a href="/dev/auth/github" class="btn btn-lg rounded"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
		<a href="/dev/auth/google" class="btn btn-lg btn-danger rounded"><i class="fa fa-google-plus"></i></a>
	</div>