usage:<br/>
<li>GET <a href="/minion/list">http://ip:port/minion/list</a></li>
<blockquote>Response:<br/>
    {'minion-id':{'title':'MINION_TITLE','description':'MINION_DESC','arguments':['required', 'arguments']}, ...}
</blockquote>
<li>POST <a href="/minion/__minion_id__/execute">http://ip:port/minion/__minion_id__/execute</a>
    <blockquote>
        Request Post:<br/>
        {
            'job-id':JOB_ID,
            'type':'page'
            ('url':'AN_URL' | 'html':'<html>bla</html>'),
            ['headers':'HTML_HEADERS']
        </blockquote>
    </li>
    <br/>
    <br/>
    <br/>
    SANDBOX:<br/>
    URL: <input id="url" name="url" type="text" size="80" value="http://"/>
    <ul>
        {{#minions}}
        <li>
            <a href="javascript:executeMinion('{{id}}')">{{id}}</a>: {{name}}
            <blockquote>{{description}}</blockquote>
        </li>
        {{/minions}}
    </ul>
    <div id="result">RESULT</div>
    <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
    <script>
    function encodedStr(raw) {
      var encoded = raw.replace(/[\u00A0-\u9999<>\&]/gim, function(i) {
        return '&#'+i.charCodeAt(0)+';';
      });
      return encoded;
    }

    function executeMinion(id)
    {
        var data =  $('#url').val();
        $.ajax({
            url: "/minion/" + id + "/execute/test_job",
            type: 'POST',
            data: {'url': data }
        }).done(function(data) {
            var result = encodedStr(JSON.stringify(data.data)) + "<br/><br/>" + encodedStr(JSON.stringify(data));
            $( '#result' ).html( result);
        });
    }

    </script>
