/** HOME **/
* {
  font-family: 'Avenir','Open Sans', 'Helvetica',sans-serif;
}
.page-home .navbar-brand{ visibility: hidden; opacity: 0; transition: all 2s;  }
#main-navbar .navbar-collapse { background: rgba(255,255,255,0.6) !important;  }

.page-home #main-wrapper{ position: relative; z-index: 1; }
.page-home #bghome{ position: absolute; top:0; left:0; width:100%; height: 100%; z-index: 0; overflow: hidden; background-color: #fff; }
.page-home #bghome .in{   margin:-1px; padding:1px;  position: relative; width:100%; height: 100%;  background-position: 0px 0px; background-repeat: no-repeat; -webkit-filter: grayscale(0.2) blur(6px);  -webkit-transform: translate3d(0,0,0);  }
.foldbox { position: relative; width:100%; height: 100%; clear: both; margin-top: -20px; }
.foldbox .main-title{ transition: margin-left 2s,opacity 0.5s;  width: 260px; position: absolute; top: 10px; left: 10px; }
.foldbox .main-title h1{}
.foldbox .main-title h1 small{ display: block; clear: both; }
.foldbox .main-title p{}
.foldbox .watch-demo{}
.foldbox .watch-demo a{}
.foldbox #main-check{  }

.foldbox #main-check form{position: absolute; left: 0; top: 50%; margin-top: -120px; }
.foldbox #main-check form h3{ display: none;  opacity: 0; transition: all 1s; }
.foldbox #main-check form label{  }
.foldbox #main-check form input[type=text]{ transition: all 0.5s; -webkit-transition:all 0.5s; float:left; width: 500px; transition: 1s all; background-repeat: no-repeat; background-position: 580px 6px;  }
.foldbox #main-check form .btn{ float:left;  width: 120px; transition: 1s all; }
.foldbox #main-check form p{ margin-top: 6px;  }
.foldbox #main-check form p small{  }
.foldbox #main-check form p a{  }

.foldbox #main-check form.loading{  }
.foldbox #main-check form.loading input[type=text]{ width:0px; padding:0; border-color:rgba(255,255,255,0); }



body.page-home.loading{  }
body.page-home.loading .navbar-brand{ opacity: 1; visibility: visible;  }
body.page-home.loading  .foldbox .main-title{ margin-left: -300px; opacity: 0.3; }


body.page-home.loading .the-home-description{  margin-top: 0px;  }
body.page-home.loading .foldbox .watch-demo{ right:-500px; opacity: 0.3; }
body.page-home.loading .foldbox #main-check{ padding-top: 80px;  }
body.page-home.loading .foldbox #main-check form input[type=text]{ transition: all 0.5s; -webkit-transition: all 0.5s; width:620px; background-image: url("/images/loading.gif"); background-repeat: no-repeat; background-position: 580px 6px; background-color: #fff; border-color: transparent; box-shadow: 0px 0px 10px rgba(128,128,128,0.8); }
body.page-home.loading .foldbox #main-check form .btn{ width:0px; padding:0; border:none; }
body.page-home.loading .foldbox #main-check form p{ display: none; }
body.page-home.loading .foldbox #main-check form label{ text-indent: -9999em; overflow: hidden; display: block; }
body.page-home.loading .foldbox #main-check form h3{ text-shadow: 0px 0px 5px #fff,0px 1px 2px #000;  display: block; margin-bottom: 0px; text-align: center; margin-top: -25px; opacity: 1; width: 50%; margin: 0 auto; }

body.page-home.loading .foldbox #main-check.show form{ top:110px; }
body.page-home.loading .foldbox #main-check.show form input[type=text]{ background-image: none; }
body.page-home.loading .foldbox #main-check.show form h3, body.page-home.loading .foldbox #main-check.show form .log{ 
    display: none;
}

body.page-home.loading .foldbox #main-check .log{  }
body.page-home.loading .foldbox #main-check .log ul{ padding:12px 0 0 0; margin: 0; list-style-type: none; }
body.page-home.loading .foldbox #main-check .log ul li{ padding:2px 0px; margin: 0; width: 100%; text-align: center; opacity: 0; transition: all 0.75s; -webkit-transition:all 0.75s; }
body.page-home.loading .foldbox #main-check .log ul li .text{ color:#000; text-shadow: 0px 0px 5px #fff,0px 1px 2px #000; font-size: 24px; line-height: 42px; padding-right: 12px; display: inline-block; }
body.page-home.loading .foldbox #main-check .log ul li .loading{background-image: url("/images/loading.gif"); background-repeat: no-repeat; background-position: center; width: 32px; height: 32px; border:2px solid #000; background-color:#fff; border-radius: 50%; display: inline-block; margin-bottom: -7px; background-size: contain; }
body.page-home.loading .foldbox #main-check .log ul li.completed .loading{ background-image: none; }

body.page-home.loading .foldbox #main-check .log ul li:first-child{ opacity: 1;}
body.page-home.loading .foldbox #main-check .log ul li:nth-child(2){ opacity: 0.6; transform: scale(0.85,0.85); }
body.page-home.loading .foldbox #main-check .log ul li:nth-child(3){ opacity: 0.3;  transform: scale(0.60,0.60); }
body.page-home.loading .foldbox #main-check .log ul li:nth-child(4){ opacity: 0;  transform: scale(0.20,0.20); }



body.page-home.loading .foldbox #main-check .result{  }
body.page-home.loading .foldbox #main-check .result h3{ margin-top:0px; color: #333; background: #fff; border-radius: 2px; padding: 6px 9px; font-size: 14px; border: 1px solid #ccc; }


.the-home-description{ margin-top: -160px; width: 100%; overflow: hidden; clear: both; transition: all 2s; }
.the-home-description .item{ background-color: #fff;  }
.the-home-description .item h3{  }



#main-navbar  .navbar-brand{
    font-size: 23px !important;
    text-transform: none !important;
}

.quick-check{ margin-bottom: 0px; }
.quick-check p{ margin-top: 9px; margin-bottom: 0px; }


#main-check{ width: 100%;   }
#main-check .minionbox .panel-heading-controls select{ opacity: 0.1; transition: all 0.5s; }
#main-check .minionbox .panel-heading-controls select:hover{ opacity: 1;}
#main-check .minionbox .panel-content{ opacity: 1; transition: all 0.5s ; -webkit-transition: all 0.5s ;  }
#main-check .minionbox.loading .panel-content{ opacity: 0; }
#main-check .minionbox.loading .minionbox .panel-content{ opacity: 1 !important; }

#main-check .minionbox > .panel > .progress{ display: none; }
#main-check .minionbox.loading > .panel > .progress{ display: block; }
#main-check .mn-dummy{ opacity: 0.5;  }
#main-check .panel .progress{ height: 3px; margin-top: -3px; position: relative;  }
#main-check .panel .progress .progress-bar{ transition: none ;  }
#main-check .progress{ height: 3px; margin-bottom: 0px; }



.CodeMirror { height:160px; }




/*********** MINION TEST ****/
.testarea{ width: 100%;  position: relative; }
.testarea .minionbox .panel-heading-controls select{ opacity: 0.1; transition: all 0.5s; }
.testarea .minionbox .panel-heading-controls select:hover{ opacity: 1;}
.testarea .minionbox .panel-content{ opacity: 1; transition: all 0.5s ; -webkit-transition: all 0.5s ;  }
.testarea .minionbox.loading .panel-content{ opacity: 0; }
.testarea .minionbox > .panel > .progress{ display: none; }
.testarea .minionbox.loading > .panel > .progress{ display: block; }
.testarea .mn-dummy{ opacity: 0.5;  }
.testarea .panel .progress{ height: 3px; margin-top: -3px; position: relative;  }
.testarea .panel .progress .progress-bar{ transition: none ;  }
.actionpanel .progress{ height: 3px; margin-bottom: 0px; }

.CodeMirror { height:160px; }

.panel-heading-controls {
    position: absolute;
    top: 13px;
    right: 10px;
}