<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ title }} frootbox</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<!-- Open Sans font from Google CDN -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

	<link href="/theme/assets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/theme/assets/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
	<link href="/theme/assets/stylesheets/widgets.min.css" rel="stylesheet" type="text/css">
	<link href="/theme/assets/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
	<link href="/theme/assets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
	<link href="/theme/assets/stylesheets/themes.min.css" rel="stylesheet" type="text/css">
    <link href="/theme/assets/stylesheets/themes.min.css" rel="stylesheet" type="text/css">
    
	<link href="/dev/minions/css/all.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    

	<!-- Gallery -->
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<!--link rel="stylesheet" href="css/bootstrap-image-gallery.min.css"-->

	<!--[if lt IE 9]>
	<script src="/theme/assets/javascripts/ie.min.js"></script>
	<![endif]-->
	{{#isupdateminion }}
	<link rel="stylesheet" href="/js/vendor/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="/js/vendor/codemirror/theme/monokai.css">
	{{/isupdateminion}}

</head>
<body class="theme-default main-menu-animated no-main-menu main-navbar-fixed {{ bodyclass }}">
<script>var init = [];</script>
<div id="bghome"><div class="in"></div></div>
<div id="main-wrapper">

	<div id="main-navbar" class="navbar " role="navigation">
		<!-- Main menu toggle -->


		<div class="navbar-inner">
			<!-- Main navbar header -->
			<div class="navbar-header">

				<!-- Logo -->
				<a href="/dev/" class="navbar-brand">
					<img src="/images/logo.png" height="30px"/>
						<i>&nbsp;</i>
				</a>


			</div> <!-- / .navbar-header -->

			<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
				<div>
					<div class="right clearfix">
						<ul class="nav navbar-nav pull-right right-navbar-nav">
							<li><a href="/dev/features">Features</a></li>
							<li><a href="/dev/plans">Plans</a></li>
							<li><a href="/dev/help">Help</a></li>
							<li><a href="/dev/contact">Contact Us</a></li>
							{{^user._id}}
							<li><a href="/dev/signup">Sign Up</a></li>
							<li><a href="/dev/login">Log In</a></li>
							{{/user._id}}
							{{#user._id}}
							<li><a href="/dev/logout">Log Out</a></li>
							{{/user._id}}
							<!--li class="dropdown">
							<a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
							<span>Nombre</span>
						</a>
						<ul class="dropdown-menu">
						<li><a href="#">Profile </a></li>
						<li><a href="#">Account </a></li>
						<li><a href="#"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Settings</a></li>
						<li class="divider"></li>
						<li><a href="pages-signin.html"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
					</ul>
				</li-->
			</ul> <!-- / .navbar-nav -->
		</div> <!-- / .right -->
	</div>
</div> <!-- / #main-navbar-collapse -->
</div> <!-- / .navbar-inner -->
</div>
<div id="content-wrapper">
	{{{ yield }}}
</div> <!-- / #content-wrapper -->

</div> <!-- / #main-wrapper -->

<!-- Get jQuery from Google CDN -->
<!--[if !IE]> -->
	<script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
<!-- <![endif]-->
<!--[if lte IE 9]>
	<script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
<![endif]-->


<!-- Pixel Admin's javascripts -->
<script src="/theme/assets/javascripts/bootstrap.min.js"></script>
<script src="/theme/assets/javascripts/pixel-admin.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!--This script loads all the minion js -->
<script src="/dev/minions/scripts/all.js"></script>    

<script src="/js/vendor/underscore-min.js"></script>
<script src="/js/vendor/backbone.js"></script>
<script src="/js/vendor/isotope.pkgd.min.js"></script>
<script src="/js/vendor/masonry-horizontal.js"></script>    

<script src="/js/app.js"></script>    
<script src="/js/setup.js"></script>    
    
<script src="/js/public.js"></script>

{{#isupdateminion }}

<link rel="stylesheet" href="/js/vendor/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/js/vendor/codemirror/theme/monokai.css">
<script src="/js/vendor/codemirror/lib/codemirror.js"></script>
<script src="/js/vendor/codemirror/mode/htmlembedded/htmlembedded.js"></script>
<script src="/js/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="/js/vendor/codemirror/mode/css/css.js"></script>
<script src="/js/minion-test.js"></script>
{{/isupdateminion}}
{{#script}}
<script src="/js/{{{script}}}.js"></script>
{{/script}}

<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!--script src="js/bootstrap-image-gallery.min.js"></script-->

</body>
</html>
